doctype html
html
head
title= title
link(rel='stylesheet', href='/stylesheets/style.css')
body
		div(id="sidenav")
			a(href="/") Home
			br
			a(href="/users") Users
			br
			a(href="/login/logout") Logout

		block content