extends ../layout

block content
	div(id="content")
		div(id="login-login")

			h1 Login

			form(id="login-form" action="/login" method="post")

				label Username
				br
				input(id="username" type="text" name="username")
				br
				label Password
				br
				input(id="password" type="password" name="password")

				div(id="lower")
					input(type="submit" value="Login")
					a(href="/login/signup") Or Sign Up
			
			div(id="flash")= flash